body
{
    background-color: #efefef;
    color: black;
    margin: 0px;
}

a
{
    color: inherit;
    text-decoration: none;
}



.clearfix::after
{
    content:"";
    display: block;
    clear: both;
}


.topNavBar nav>ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li
{
    float:left;
    margin-left:17px;
    margin-right:17px; 
}
.topNavBar nav>ul>li>a
{
    font-size: 12px;
    color: #B7B7B7;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
}
.topNavBar nav>ul>li>a:hover
{
    border-bottom: 3px solid #e06567;
}
.topNavBar nav
{
    float:right;
    padding-top: 4px;
    padding-bottom: 4px;
}
.topNavBar .logo
{
    float:left;
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs
{
    margin-right: 4px;
    color:#E6686A;
}

.topNavBar .logo .card
{
    color:#9A9DA2;
}

.topNavBar
{
    padding: 20px  0px 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.test
{
    font-size: 14px; line-height: 24px; padding: 3px 0;

}

.banner
{
    background-image: Url(./img/rs-cover-2-2-1-1.jpg);
    height: 510px;
    background-position: center center;
    background-size: cover;

}

.topNavBar-inner
{
    padding: 0px  16px;
}

.banner .mask
{
    height: 510px;
    background-color: rgba(0, 0, 0, 0.8);
}

.usercard
{
    border: 1px solid red;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.usercard .text .welcome
{
   background: #E6685A;
   color: white;
   padding: 5px 15px;
   position: relative;

}

.usercard .welcome .triangle
{   
    display: block;

    border:10px solid transparent;
    width: 10px;
    border-left-color: #E6685A;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.usercard .text
{
    float: left;
    padding-left: 65px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 470px;
}

.usercard .picture
{
    float: left;
}
.usercard .pictureandtext
{
    padding: 50px;
}
.usercard .pictureandtext .text h1
{
    padding-top: 34px;
}