body
{
    background-color: #efefef;
    color: black;
    margin: 0px;
}



a
{
    color: inherit;
    text-decoration: none;
}

*
{
    margin: 0px;
    padding: 0px;
}

ul,ol
{
    list-style: none;
}

hr
{
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

.clearfix::after
{
    content:"";
    display: block;
    clear: both;
}


.topNavBar nav>ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li
{
    float:left;
    margin-left:17px;
    margin-right:17px; 
}
.topNavBar nav>ul>li>a
{
    font-size: 12px;
    color: #B7B7B7;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
}
.topNavBar nav>ul>li>a:hover
{
    border-bottom: 3px solid #e06567;
}
.topNavBar nav
{
    float:right;
    padding-top: 4px;
    padding-bottom: 4px;
}
.topNavBar .logo
{
    float:left;
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs
{
    margin-right: 4px;
    color:#E6686A;
}

.topNavBar .logo .card
{
    color:#9A9DA2;
}

.topNavBar
{
    padding: 20px  0px 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.test
{
    font-size: 14px; line-height: 24px; padding: 3px 0;

}

.banner
{
    background-image: Url(./img/rs-cover-2-2-1-1.jpg);
    height: 510px;
    background-position: center center;
    background-size: cover;

}

.topNavBar-inner
{
    padding: 0px  16px;
}

.banner .mask
{
    height: 510px;
    background-color: rgba(0, 0, 0, 0.8);
}

.usercard
{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
}

.usercard .text .welcome
{
   background: #E6685A;
   color: white;
   padding: 5px 15px;
   position: relative;

}

.usercard .welcome .triangle
{   
    display: block;

    border:10px solid transparent;
    width: 10px;
    border-left-color: #E6685A;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.usercard .text
{
    float: left;
    padding-left: 65px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 470px;
}

.usercard .picture
{
    float: left;
}
.usercard .pictureandtext
{
    padding: 50px;
}
.usercard .pictureandtext .text h1
{
    padding-top: 32px;
}
.usercard .pictureandtext .text p
{
    padding-top: 7px;
}
.usercard .pictureandtext .text hr
{
    margin: 23px 0px;
}
.usercard .pictureandtext .text dt,
.usercard .pictureandtext .text dd
{
    float: left;
    padding-bottom: 14px;
}
.usercard .pictureandtext .text dt
{
    width: 30%;
    font-weight: bold;
}
.usercard .pictureandtext .text dd
{
    width: 70%;
    color:#9da0a7
}
.usercard .media
{
    text-align: center;
    background-color: #e06567;
    padding-top:14px;
    padding-bottom: 14px; 
}
.usercard .media > a
{
    padding: 10px 10px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px; 
    
}
.usercard .icon
{
    width: 40px;
    height: 40px;
    fill:white;
    vertical-align:top;
}

.usercard .media > a:hover
{
background-color: #CF505F;
}

body main 
{
    margin-top: -340px
}

body main .downloadResume
{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #CDCFD1;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 32px;
    background: #EFEFEF;
    border-radius: 4px;
    color: #3D4451;
    font-weight: bold;
}
body main .downloadResume:hover
{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s;
}



body main .downloadResume-wrapper
{
    text-align: center;
}

body main .selfIntroduction
{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "华文楷体";
    line-height: 28px;
    margin-bottom: 70px;
}
section.skills
{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
section.skills>h2
{
    text-align: center;
    color: #3D4451;
    font-style: 43px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills>ol
{
   background-color: white;
   box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
}
section.skills .progressBar
{
    height: 6px;
    border: 1px solid red;
}

section.skills .progress
{
    background: red;
    width: 50%;
}