.loading {
    width: 200px;
    height: 200px;
    position: relative;
}

.loading::before,
.loading::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background: black;
    border-radius: 50%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: loadinganimation 1.5s linear infinite;
}

.loading::after {
    animation-delay: 0.75s;
}

@keyframes loadinganimation {
    0% {
        width: 0px;
        height: 0px;
        background: rgba(0, 0, 0, 1);
    }
    100% {
        width: 100px;
        height: 100px;
        background: rgba(0, 0, 0, 0);
    }
}